@page
@using System.Linq
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @Model.DbContext.Table1s.Count()
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
